
<html>

  <head>
    <title>ie3-ml</title>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Text Generation Using Neural Networks">
    <meta property="og:image" content="">
    <link rel="shortcut icon" href="ml_favicon.png" />


    <link rel="stylesheet" href="https://www.launchaco.com/static/AllTemplates.min.css">


  </head>

  <body class="font-neutral">
    <div class="black-accent">
      <!---->
      <header class="header">
        <div class="container-lrg">
          <div class="flex col-12 spread">
            <a class="logo primary-color launchaco-builder-hoverable">ie3-ml</a>
            <a href="mailto:kennethgomez2020@u.northwestern.edu" class="nav-link secondary-color mr0 email header-email accent-bg">Contact</a>
          </div>
        </div>
      </header>
      <section class="section">
        <div class="container mb40">
          <div class="col-12 text-center">
            <h1 class="heading-lrg primary-color launchaco-builder-hoverable">Text Generation Using Neural Networks</h1>
            <h2 class="subheading secondary-color mt20 launchaco-builder-hoverable">Generate any form of text from baking recipes to Lord of the Rings.</h2>
            <div class="mt40">
              <a href="/generate" target="_self" class="button mobile-text-center mt10 launchaco-builder-hoverable primary-color mobile-text-center accent-bg">
                <span> Get Started Now </span>
              </a>
            </div>
          </div>
        </div>
        <!---->
      </section>
    </div>
    <section id="feature-1" class="section black-white" sitemeta="[object Object]" activepage="Landing">
      <div class="container">
        <div class="col-12 text-center flex flex-column center-horizontal">
          <i class="icon secondary-bg mobile-center-icon launchaco-builder-hoverable">
            <svg class="svg-fill" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.5.133h-21C.672.134 0 .805 0 1.633v16c0 .828.672 1.5 1.5 1.5h11.663c.11 0 .218.037.306.104l4.926 3.691A1 1 0 0 0 20 22.132v-2.999h2.5c.828 0 1.5-.672 1.5-1.5v-16c0-.828-.672-1.499-1.5-1.5zm-15.5 11a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm5 0a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm5 0a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
            </svg>
          </i>
          <h3 class="heading primary-color launchaco-builder-hoverable">Generate multiple kinds of text</h3>
          <p class="subheading secondary-color mt20 launchaco-builder-hoverable">Something</p>
        </div>
      </div>
      <!---->
    </section>
    <section id="team-2" class="section black-white" sitemeta="[object Object]" activepage="Landing">
      <div class="container text-center mb35">
        <h3 class="heading primary-color launchaco-builder-hoverable">Team</h3>
        <p class="subheading secondary-color mt20 launchaco-builder-hoverable">Under Jared's leadership, we might make something decent</p>
      </div>
      <div class="container-lrg flex wrap text-center">
        <div class="col-4 flex mt40 launchaco-builder-hoverable">
          <div class="team-card flex flex-column center-vertical center-horizontal w100">
            <!---->
            <div>
              <b class="bold primary-color">Jared Fernandez</b>
              <p class="paragraph primary-color mt10">Project Manager</p>
              <p class="paragraph secondary-color mt20">He knows everything.</p>
            </div>
            <!---->
          </div>
        </div>
        <div class="col-4 flex mt40 launchaco-builder-hoverable">
          <div class="team-card flex flex-column center-vertical center-horizontal w100">
            <!---->
            <div>
              <b class="bold primary-color">Josh Chen</b>
              <p class="paragraph primary-color mt10">Member</p>
              <p class="paragraph secondary-color mt20">Insert bio</p>
            </div>
            <!---->
          </div>
        </div>
        <div class="col-4 flex mt40 launchaco-builder-hoverable">
          <div class="team-card flex flex-column center-vertical center-horizontal w100">
            <!---->
            <div>
              <b class="bold primary-color">Vishal Giridhar</b>
              <p class="paragraph primary-color mt10">Member</p>
              <p class="paragraph secondary-color mt20">Insert bio</p>
            </div>
            <!---->
          </div>
        </div>
        <div class="col-4 flex mt40 launchaco-builder-hoverable">
          <div class="team-card flex flex-column center-vertical center-horizontal w100">
            <!---->
            <div>
              <b class="bold primary-color">Kenneth Gomez</b>
              <p class="paragraph primary-color mt10">Member</p>
              <p class="paragraph secondary-color mt20">Insert bio</p>
            </div>
            <!---->
          </div>
        </div>
        <div class="col-4 flex mt40 launchaco-builder-hoverable">
          <div class="team-card flex flex-column center-vertical center-horizontal w100">
            <!---->
            <div>
              <b class="bold primary-color">Connor Moen</b>
              <p class="paragraph primary-color mt10">Member</p>
              <p class="paragraph secondary-color mt20">Insert bio</p>
            </div>
            <!---->
          </div>
        </div>
      </div>
    </section>

    <section id="faq-3" class="section black-white" sitemeta="[object Object]" activepage="Landing">
     <div class="container text-center">
       <div class="col-12">
         <h3 class="heading primary-color launchaco-builder-hoverable">
           Frequently Asked Questions
         </h3>
         <p class="subheading secondary-color mt20 launchaco-builder-hoverable">Questions even we still ask sometimes</p>
       </div>
     </div>
     <div class="container mt40">
       <div class="col-12">
         <div class="faq pad20">
           <input id="faq-dropdown-0" type="checkbox" name="faq" class="faq-input">
           <label for="faq-dropdown-0" class="faq-label flex spread center-horizontal">
             <span class="bold primary-color mr20">How does it generate text?</span>
             <svg width="15px" height="9px" viewBox="0 0 15 9" version="1.1" xmlns="http://www.w3.org/2000/svg" class="noshrink svg-fill">
               <path d="M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z"></path>
             </svg>
           </label>
           <p class="paragraph secondary-color faq-content mt20 launchaco-builder-hoverable">
             The sky is blue due to something called 'Rayleigh scattering'. Basically, light interacts with the air and scatters. However unlike normal scattering (like you would have with a light in a room), this scattering is proportional to the wavelength of the
             light. Hence higher frequency light (like blue light) is scattered more strongly, while the other colours tend to follow the path of normal sunlight!
           </p>
         </div>
         <div class="faq pad20">
           <input id="faq-dropdown-1" type="checkbox" name="faq" class="faq-input">
           <label for="faq-dropdown-1" class="faq-label flex spread center-horizontal">
             <span class="bold primary-color mr20">How does the model learn?</span>
             <svg width="15px" height="9px" viewBox="0 0 15 9" version="1.1" xmlns="http://www.w3.org/2000/svg" class="noshrink svg-fill">
               <path d="M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z"></path>
             </svg>
           </label>
           <p class="paragraph secondary-color faq-content mt20 launchaco-builder-hoverable">
             The sky is blue due to something called 'Rayleigh scattering'. Basically, light interacts with the air and scatters. However unlike normal scattering (like you would have with a light in a room), this scattering is proportional to the wavelength of the
             light. Hence higher frequency light (like blue light) is scattered more strongly, while the other colours tend to follow the path of normal sunlight!
           </p>
         </div>
         <div class="faq pad20">
           <input id="faq-dropdown-2" type="checkbox" name="faq" class="faq-input">
           <label for="faq-dropdown-2" class="faq-label flex spread center-horizontal">
             <span class="bold primary-color mr20">Why was the LSTM model the best for this project?</span>
             <svg width="15px" height="9px" viewBox="0 0 15 9" version="1.1" xmlns="http://www.w3.org/2000/svg" class="noshrink svg-fill">
               <path d="M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z"></path>
             </svg>
           </label>
           <p class="paragraph secondary-color faq-content mt20 launchaco-builder-hoverable">
             The sky is blue due to something called 'Rayleigh scattering'. Basically, light interacts with the air and scatters. However unlike normal scattering (like you would have with a light in a room), this scattering is proportional to the wavelength of the
             light. Hence higher frequency light (like blue light) is scattered more strongly, while the other colours tend to follow the path of normal sunlight!
           </p>
         </div>
       </div>
     </div>
   </section>

  </body>

  <script>
    window.onscroll = function()
    {
      showAd()
    }

    function showAd()
    {
      var scrollBarPosition = window.pageYOffset | document.body.scrollTop;

      // At specifiv position do what you want
      if (scrollBarPosition > 300)
      {
        document.getElementById("visual-dreamer").className = "launchaco-promo launchaco-promo__active";
        window.onscroll = function() {};
      }
    }
  </script>

</html>
