
<html>

  <head>
    <title>ie3-ml</title>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Text Generation Using Neural Networks">
    <meta property="og:image" content="">
    <link rel="shortcut icon" href="https://www.launchaco.com/static/favicon.ico" />


    <link rel="stylesheet" href="https://www.launchaco.com/static/AllTemplates.min.css">


  </head>

  <body class="font-neutral">
    <div class="black-accent">
      <!---->
      <header class="header">
        <div class="container-lrg">
          <div class="flex col-12 spread">
            <a class="logo primary-color launchaco-builder-hoverable">ie3-ml</a>
            <a href="mailto:kennethgomez2020@u.northwestern.edu" class="nav-link secondary-color mr0 email header-email accent-bg">Contact</a>
          </div>
        </div>
      </header>
      <section class="section">
        <div class="container mb40">
          <div class="col-12 text-center">
            <h1 class="heading-lrg primary-color launchaco-builder-hoverable">Text Generation Using Neural Networks</h1>
            <h2 class="subheading secondary-color mt20 launchaco-builder-hoverable">Generate any form of text from baking recipes to Lord of the Rings.</h2>
            <div class="mt40">
              <a href="/generate" target="_blank" class="button mobile-text-center mt10 launchaco-builder-hoverable primary-color mobile-text-center accent-bg">
                <span> Get Started Now </span>
              </a>
            </div>
          </div>
        </div>
        <!---->
      </section>
    </div>
    <section id="feature-3" class="section black-white" sitemeta="[object Object]" activepage="Landing">
      <div class="container">
        <div class="col-12 text-center flex flex-column center-horizontal">
          <i class="icon secondary-bg mobile-center-icon launchaco-builder-hoverable">
            <svg class="svg-fill" viewBox="0 0 25 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.001 16.131l4 3h-7.335l-5.066 3.8a1 1 0 0 1-1.6-.8v-3H1.5a1.5 1.5 0 0 1-1.5-1.5V5.633a1.5 1.5 0 0 1 1.5-1.5H3v9.498a2.502 2.502 0 0 0 2.5 2.5h8.501zM25 1.633v11.998a1.5 1.5 0 0 1-1.5 1.5H21v3a1 1 0 0 1-1.6.8l-5.066-3.8H5.5a1.5 1.5 0 0 1-1.5-1.5V1.633a1.5 1.5 0 0 1 1.5-1.5h18a1.5 1.5 0 0 1 1.5 1.5zm-5 7.998a.5.5 0 0 0-.5-.5h-10a.5.5 0 0 0 0 1h10a.5.5 0 0 0 .5-.5zm0-4a.5.5 0 0 0-.5-.5h-10a.5.5 0 0 0 0 1h10a.5.5 0 0 0 .5-.5z"></path>
            </svg>
          </i>
          <h3 class="heading primary-color launchaco-builder-hoverable">Generate multiple kinds of text</h3>
          <p class="paragraph mt20 secondary-color launchaco-builder-hoverable">We trained multiple models to create text that resembles baking recipes, Lord of the Rings text, and poetry. Just give the models a starting point and watch it go!</p>
        </div>
      </div>
      <!---->
    </section>
    <section id="team-1" class="section black-white" sitemeta="[object Object]" activepage="Landing" style="padding-bottom: 0px;">
      <div class="container text-center mb75">
        <h3 class="heading primary-color launchaco-builder-hoverable">Team</h3>
        <p class="subheading secondary-color mt20 launchaco-builder-hoverable">Meet the team that made everything happen</p>
      </div>
      <div class="container-sml flex text-center">
        <div class="col-12 launchaco-builder-hoverable flex">
          <div class="team-card flex flex-column center-vertical center-horizontal w100">
            <div class="user-image mb20" style="background-image: url(&quot;https://cdn.launchaco.com/images/f4ab1ebc-f8a7-4dc1-a1ca-61793eba1cf6.png&quot;);"></div>
            <div>
              <b class="bold primary-color">Jared Fernandez</b>
              <p class="paragraph primary-color mt10">Project Leader</p>
              <p class="paragraph secondary-color mt20">I am a junior studying Computer Science with emphasis on machine learning and natural language processing and computer vision. Outside of programming I enjoy hiking and going to concerts</p>
            </div>
            <div class="mt30">
              <a target="_blank" href="jaredfernandez2019@u.northwestern.edu" class="socialicons accent-bg email"></a>
              <a href="https://github.com/JaredFern" target="_blank" class="socialicons accent-bg github"></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="team-2" class="section black-white" sitemeta="[object Object]" activepage="Landing" style="padding-top:0px;">
      <div class="container text-center mb35">
        <!---->
        <!---->
      </div>
      <div class="container flex wrap text-center">
        <div class="col-6 mt40 flex launchaco-builder-hoverable">
          <div class="team-card flex flex-column center-vertical center-horizontal w100">
            <div class="user-image mb20" style="background-image: url(&quot;https://cdn.launchaco.com/images/e155e9e6-2075-4bee-b18c-8b6a78a7ba25.png&quot;);"></div>
            <div>
              <b class="bold primary-color">Josh Chen</b>
              <p class="paragraph primary-color mt10"></p>
              <p class="paragraph secondary-color mt20">I'm a freshman studying computer engineering with previous experience in computer vision and android app backend. My favorite food is Soylent and microwaved deep dish pizza.</p>
            </div>
            <div class="mt30">
              <a target="_blank" href="hsuan-mingchen2021@u.northwestern.edu" class="socialicons accent-bg email"></a>
              <a href="https://github.com/FreshJesh5" target="_blank" class="socialicons accent-bg github"></a>
            </div>
          </div>
        </div>
        <div class="col-6 mt40 flex launchaco-builder-hoverable">
          <div class="team-card flex flex-column center-vertical center-horizontal w100">
            <div class="user-image mb20" style="background-image: url(&quot;https://cdn.launchaco.com/images/bf4396b4-d663-4a05-a6e0-17bafa7dea19.png&quot;);"></div>
            <div>
              <b class="bold primary-color">Vishal Giridhar</b>
              <p class="paragraph primary-color mt10"></p>
              <p class="paragraph secondary-color mt20">He comes from the non-acting branch of the Coppola family: his father August (brother of Francis) is a comparative literature professor and his mother, Joy, a former dancer.</p>
            </div>
            <div class="mt30">
              <a target="_blank" href="" class="socialicons accent-bg email"></a>
              <a href="https://github.com/weeshal" target="_blank" class="socialicons accent-bg github"></a>
            </div>
          </div>
        </div>
        <div class="col-6 mt40 flex launchaco-builder-hoverable">
          <div class="team-card flex flex-column center-vertical center-horizontal w100">
            <div class="user-image mb20" style="background-image: url(&quot;https://cdn.launchaco.com/images/c94d9fed-608b-4124-aa83-6e4744a4da63.png&quot;);"></div>
            <div>
              <b class="bold primary-color">Kenneth Gomez</b>
              <p class="paragraph primary-color mt10"></p>
              <p class="paragraph secondary-color mt20">I'm a sophomore studying computer science with an interest in artificial intelligence. I enjoy playing games with friends.</p>
            </div>
            <div class="mt30">
              <a target="_blank" href="kennethgomez2020@u.northwestern.edu" class="socialicons accent-bg email"></a>
              <a href="https://github.com/kgomez0110" target="_blank" class="socialicons accent-bg github"></a>
            </div>
          </div>
        </div>
        <div class="col-6 mt40 flex launchaco-builder-hoverable">
          <div class="team-card flex flex-column center-vertical center-horizontal w100">
            <div class="user-image mb20" style="background-image: url(&quot;https://cdn.launchaco.com/images/2d188c13-dc17-4fff-a596-c797c8701d67.png&quot;);"></div>
            <div>
              <b class="bold primary-color">Connor Moen</b>
              <p class="paragraph primary-color mt10"></p>
              <p class="paragraph secondary-color mt20">Sophomore studying computer science, cognitive science, and sustainability. I love listening to good music and cooking good food.</p>
            </div>
            <div class="mt30">
              <a target="_blank" href="connormoen2020@u.northwestern.edu" class="socialicons accent-bg email"></a>
              <a href="https://github.com/ConnorDouglasMoen" target="_blank" class="socialicons accent-bg github"></a>
            </div>
          </div>
        </div>
      </div>
    </section>



  </body>



</html>
